{% load static %}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.rtl.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.rtl.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.rtl.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-utilities.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-utilities.rtl.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
